.DS_Store

build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcbkptlist
*.orig
xcschememanagement.plist
*.xccheckout
*.xcscmblueprint

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.pbxproj
*.xcscheme
.build/
